
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* shered style */
.display-flex{
    display: flex;
}
.primary-btn{
    color: #fff;
    font-weight: bold;
    background-color: #E02C6D;
    padding: 10px 24px;
    border: none;
    border-radius: 41px;
}
.fa-solid{
    margin-left: 5px;
}


/* header reladed style */
/* nav */
  .navber{
    max-width: 1200px;
    margin: 80px auto 30px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  .logo h3{
    font-size: 1.5rem;
    font-weight:bold;
  }
  .nav-links{
    gap:34px
  }
  .nav-links .nav-item{
    list-style: none;
   
  }
  .nav-links .nav-link{
    text-decoration: none;
    color:#3A3A3A;
    font-weight: 700;
  }

 
/* banner */


.banner{
    max-width: 1180px;
    margin: 0 auto;
    padding: 30px;
   justify-content: space-between;
    align-items: center;
}
.banner{
    background-image: url(./images/Circle\ design.svg);
    background-position: right;
    background-repeat: no-repeat;
    
}
.banner-content{
    max-width: 580px;
}
.banner-content *{
    margin-bottom: 16px;
}
.banner-content h1{
    font-weight: bold;
    font-size: 3.25rem;
    line-height: 70px;
}
.banner-content p{
    color: #3A3A3A;
    font-weight: 700;
}
/* sponsor related style */
.sponsor{
    max-width: 1110px;
    margin: 50px auto 0;
}


/* resonsive for mobile divaice */

@media screen and (max-width: 576px) {
    .navber{
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.nav-links{
    gap: 15px;
    margin-top: 15px;
}

.banner{
  
    gap: 14px;
   flex-direction: column-reverse;
   text-align: center;
    background-position: top center;
}
.banner-content h1{
   margin-top: 15px;
    font-size: 1.75rem;
    line-height: 40px;
    
}


}