
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* shered style */
.display-flex{
    display: flex;
}
.primary-btn{
    color: #fff;
    font-weight: bold;
    background-color: #E02C6D;
    padding: 10px 24px;
    border: none;
    border-radius: 41px;
    
}
.fa-solid{
    margin-left: 5px;
}


/* header reladed style */
/* nav */
  .navber{
    max-width: 1200px;
    margin: 80px auto 30px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  .logo h3{
    font-size: 1.5rem;
    font-weight:bold;
  }
  .nav-links{
    gap:34px
  }
  .nav-links .nav-item{
    list-style: none;
   
  }
  .nav-links .nav-link{
    text-decoration: none;
    color:#3A3A3A;
    font-weight: 700;
  }

 
/* banner */


.banner{
    max-width: 1180px;
    margin: 0 auto;
    padding: 30px;
   justify-content: space-between;
    align-items: center;
}
.banner{
    background-image: url(./images/Circle\ design.svg);
    background-position: right;
    background-repeat: no-repeat;
    
}
.banner-content{
    max-width: 580px;
}
.banner-content *{
    margin-bottom: 16px;
}
.banner-content h1{
    font-weight: bold;
    font-size: 3.25rem;
    line-height: 70px;
}
.banner-content p{
    color: #3A3A3A;
    font-weight: 700;
}
/* sponsor related style */
.sponsor{
    max-width: 1110px;
    margin: 50px auto 0;
    
}
.sponsor-container{
    justify-content: space-between;
    padding: 35px;
    

}

/* card related style */

.card-section{
    max-width: 1050px;
    margin: 100px auto;
}
.card-section h3{
    text-align: center;
    margin-bottom:30px ;
}
.card-section .card-bottom{
    text-align: right;
}
.card-box{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 20px;
}
.card{
    padding: 17px 14px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
    max-width: 330px;
}
.card-bottom{
    color: #E02C6D;
    margin-top: 50px;
}
.card-bottom a{
    text-decoration: none;
    font-weight: bold;
    color: #E02C6D;
}
/* products related style */
.froducts{
    max-width: 1110px;
    margin: 0 auto;
    gap: 96px;
    align-items: center;
    padding-bottom: 80px;

}
.froducts-content h3 , p , button{
    margin-bottom: 16px;
}
.froducts-content h3 {
    font-size: 2.3rem;
    font-weight: bold;
    color: #0A0826;
}
.froducts-content p{
    color: gray;
}
/* footer related style */
footer{
    background-color: rgb(8, 8, 8);
    color: #fff;
}
.footer-container{
    max-width: 350px;
    margin: 50px auto;
    padding: 50px 0;
    text-align: center;
}
.links{
    max-width: 120px;
    margin: 0 auto;
    justify-content: space-between;
}
.icons{
    list-style: none;
}
.link{
    color: #fff;
}

/* resonsive for mobile divaice */

@media screen and (max-width: 576px) {
    .navber{
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.nav-links{
    gap: 15px;
    margin-top: 15px;
}

.banner{
  
    gap: 14px;
   flex-direction: column-reverse;
   text-align: center;
    background-position: top center;
}
.banner-content h1{
   margin-top: 15px;
    font-size: 1.75rem;
    line-height: 40px;
    
}
.sponsor-container{
    justify-content: center;
   flex-wrap: wrap;
    padding: 0 30px;
    gap: 30px;
    

}
.card-box{
   
    grid-template-columns: repeat(1 ,1fr);
    width: 100%;
   
}
.card{
    margin: 0 auto;
}
.froducts{
    flex-direction: column-reverse;
    text-align: center;
}


}